# W(e)blinks Restrictive HT Access File

Options -Indexes
RewriteEngine on

RewriteRule ^gm_scripts/lj_real_usernames-0.1.user.js$ gm_scripts/lj_real_usernames.user.js [L]
RewriteRule ^ljs_toolbar.php$ http://lj.wblinks.com/toolbar/ljs_toolbar.php [r=301,nc]
RewriteRule ^vegas_08(/)?(.*)$ http://photos.wblinks.com/vegas_08/$1 [r,nc]
RewriteRule ^files/(.*)$ http://static.wblinks.com/lj/$1 [r,nc]
RewriteRule ^ljs_toolbar/update.rdf$ http://lj.wblinks.com/toolbar/ljs_toolbar/update.rdf [r,nc]
